@import "../../globals/variables.scss";

.about_us_link {
  margin-left: 15px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  @include standard_font;
}

.about_us_link:hover {
  color: $red;
}
