.feed_item {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 225px;
  box-sizing: border-box;
}

.inner {
  position: relative;
  width: 90%;
  height: 90%;
  margin: 5%;
  border: 1px solid red;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
