@import "../../globals/variables.scss";

.icon {
  line-height: 0;
  margin-left: 5px;
  font-size: 22px;
  color: $yellow;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
  @include noselect;
}

.icon:hover {
  color: $red;
  transition: 0.2s;
}
