.profile_image {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
}

.image {
  height: 100%;
  width: 100%;
}
