@import "../../globals/variables.scss";

.signin_button {
  margin-top: 225px;
}

.button_tag {
  text-align: center;
}

.button {
  @include standard_button;
  font-size: 14px;
}

.button:hover {
  @include standard_hover;
}
