.feed_item {
  position: relative;
  display: inline-block;
  height: 225px;
  width: percentage(1/3);
  box-sizing: border-box;
  border: 1px solid black;
  padding: 5px;
}

.inner {
  position: relative;
  height: 90%;
  width: 90%;
  margin: 5%;
  border: 1px solid red;
  border-radius: 5px;
}
