$white: #e6dedd;
$red: #8f1d14;
$black: #1b120f;
$yellow: #f89d13;

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin testing {
  border: 1px solid red;
}

@mixin standard_button {
  position: relative;
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 50px;
  background-color: $black;
  color: $white;
  border: 1px solid $yellow;
  cursor: pointer;
  transition: 0.2s;
}

@mixin standard_hover {
  color: $yellow;
  background-color: $red;
  transition: 0.2s;
}

@mixin standard_font {
  font-family: "Nanum Gothic", sans-serif;
}
