@import "../../globals/variables.scss";

.about_us_link {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: block;
}

.link {
  position: relative;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: $red;
}
